.background{
    background: #001e4d;
    height: 100vh;
}
.main-box{
    width: 90%;
    max-width: 600px !important;
    border-radius: 20px;
}
.color{
    color: #001e4d !important;
}
.backgroundColor{
    background: #001e4d !important;
}
.answer-button:hover{
    background-color: black !important;
    color: white !important;
}
.correct{
    background-color: #9aeabc !important; /* Green background color */
}
.incorrect{
    background-color: #ff9393 !important; /* Red background color */
}
.display-none{
    display: none !important;
}
.answer-button:disabled{
    cursor: no-drop;
}